/* ---HOMEPAGE (index.php)--- */
/* JUMBOTRON */
.jumbotron {
    background-image: url(../assets/images/background.jpg);
    background-size: 100%; 
    background: no repeat;
    height: 80vh;
    min-height: 300px;
    -webkit-background-size: cover;
    background-size: cover;
   
}
/* CARD */
.card {
    width: 24rem;
}


/* ---LOG IN PAGE (imlogin.php) --- */
#login-form {
    background-color: #8cd667;
    
}

/* --- REGISTRATION FORM --- */

/*Styles for studentRegistration.php*/
#stuReg {
    background-color: #d9ef81;
}

#f-back {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

/*Styles for teacherRegistration.php*/
#teaReg {
    background-color: #d9ef81;
}


/* --- FOOTER (partials/footer.php) ---  */
.footer {
    background-color: #d9ef81;
}

#quotation {
    background-color: #f1f1f1;
    text-align: center;
    padding: 50px;
}
#quotation p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
#quotation p.author {
    color: #666;
    font-size: 20px;
}